
@font-face {
    font-family: 'SVG-gotham';
    src: url('../../assets/fonts/SVN-Gotham.woff2') format('woff2'),
        url('../../assets/fonts/SVN-Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVG-gotham-book';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVG-GothamLight';
    src: url('../../assets/fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TPLeMajor';
    src: url('../../assets/fonts/TPLeMajor-Regular.woff2') format('woff2'),
        url('../../assets/fonts/TPLeMajor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DFVNCatchyMager';
    src: url('../../assets/fonts/DFVN\ Catchy\ Mager.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allura';
    src: url('../../assets/fonts/Allura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

