$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.281);
$radius: 14px;

// Colors
$title-color: #646531ff;
$text-color: #832f1eff;
$pink-color: #c05b7dff;
$secondary-color: #d9d7c3ff;
$bg-color: #f8f3eb;

// Font
$font-SVG-gotham: 'SVG-gotham', sans-serif;
$font-SVG-GothamLight: 'SVG-GothamLight', sans-serif;
$font-SVG-gotham-book: 'SVG-gotham-book', sans-serif;
$font-lora: 'Lora', sans-serif;
$font-TPLeMajor: 'TPLeMajor', sans-serif;
$font-DFVNCatchyMager: 'DFVNCatchyMager', sans-serif;
$font-Allura: 'Allura', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
